
body {
    background-color: #f2f2f2;
}
/* 
@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        position: relative;
        margin-left: 0;
        padding-left: 0px;
    }
} */